@font-face {
  font-family: "manga";
  src: url("../Fonts/manga-font/Manga-4vx6.ttf") format("truetype");
}

@font-face {
  font-family: "bebas";
  src: url("../Fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
}

* {
  padding: 0px;
  margin: 0px;
}

html,
body {
  color: white;
  background-color: #01010100;
  background-image: url("../Images/bg.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-interpolation-mode: bicubic;
  background-attachment: fixed;
  /*background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(252,70,107,1) 100%);
    */
}

header,
main {
  max-width: 70%;
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-weight: lighter;
  color: white;
  text-size-adjust: auto;
  letter-spacing: 5px;
}

header h1 {
  text-align: center;
  font-family: "manga";
  font-size: 10vw;
  font-size-adjust: auto;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

main {
  color: black;
  text-align: center;
  font-family: "bebas";
}

main .advanced {
  text-align: left;
  align-self: left;
}

main .settings {
  padding: 15px;
  padding-left: 20px;
  color: white;
  background-color: #101010aa;
  border-radius: 25px;
}

details {
  /*margin-left: 200px; /* Same as the width of the sidebar */
  /*left: 10px;*/
  margin: 1px;
  background-color: #10101000;
  bottom: -5px;
  color: white;
  text-align: left;
  font-family: "bebas";
  letter-spacing: 0.2vw;
  font-size: 2vh;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

.counter {
  color: white;
  background: #101010aa;
  padding: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 3px;
  font-family: "bebas";
  font-size: 8vw;
  border-radius: 10px;
}

.next-event-info {
  font-size: 30px;
  padding: 5px;
  color: white;
  background-color: #101010aa;
  border-radius: 10px;
  letter-spacing: 3px;
}

.study-session-counter {
  width: fit-content;
  display: inline-block;
  font-size: 30px;
  padding: 6px;
  margin: 2px;
  color: white;
  background-color: #101010aa;
  border-radius: 10px;
  letter-spacing: 3px;
}

.anime-session-counter {
  width: fit-content;
  display: inline-block;
  font-size: 30px;
  padding: 6px;
  margin: 2px;
  color: white;
  background-color: #101010aa;
  border-radius: 10px;
  letter-spacing: 3px;
}

.total-count-study {
  display: inline-block;
  font-size: 20px;
  padding: 6px;
  margin: 2px;
  color: white;
  background-color: #101010aa;
  border-radius: 10px;
  letter-spacing: 3px;
}

.total-count-anime {
  display: inline-block;
  font-size: 20px;
  padding: 6px;
  margin: 2px;
  color: white;
  background-color: #101010aa;
  border-radius: 10px;
  letter-spacing: 3px;
}

.aft-start{
  display: none;
  font-size: 13vw;
}

.before-start{
  font-size:7vw;
  background: none;
  line-height: 1px;
  border-radius: 10px;
  color: white;
  font-family: "bebas";
}

input{
  width: 1.5em;
  height : 1em;
  text-align: center;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}